.suggestions-tooltip {
  position: absolute;
  border: var(--input-border-width) solid var(--background-modifier-border);
}

.components-table {
  border: 1px solid teal;
  width: 100%;
}
.components-table tbody tr:nth-child(2n-1) {
  background-color: var(--color-base-20);
}
.components-table .text-center {
  text-align: center;
}
.components-table textarea {
  max-width: 20ch;
}
.components-table tbody td:first-of-type {
  width: 270px;
}

.invalid-codeblock-syntax,
.missing-component-name,
.unknown-component,
.disabled-component,
.missing-component-renderer,
.invalid-component-params,
.missing-component-file,
.invalid-component-syntax,
.missing-component-render-function {
  border: 1px solid orangered;
}
