.suggestions-tooltip {
  position: absolute;
  border: var(--input-border-width) solid var(--background-modifier-border);
}

.format-list {
  border: 1px solid teal;
}

.fragments-list {
  border: 1px solid thistle;
}

.codeblock-parse-error,
.fragment-missing,
.fragment-disabled,
.fragment-format-unknown,
.fragment-file-missing,
.fragment-render-missing {
  border: 1px solid orangered;
}
