/* prettier-ignore */
.content-component,
.grid_gallery-component,
.side_gallery-component,
.soundtrack-component {
  position: relative;
  margin: var(--size-4-4) auto;
  background-color: var(--lb-background);
  border-radius: var(--lb-radius);
  border: var(--lb-border);

  & > div { border-bottom: var(--lb-border); }
  & > div:last-child { border-bottom: none; }
}

/* prettier-ignore */
.vault-content {
  code { margin: 2px 8px 2px 0; }
  .content-tags { grid-area: tags; }
  .content-header { grid-area: header; }
  .content-chapters { grid-area: chapters; }
  .content-links { grid-area: links; }
  .content-cover { grid-area: cover; }
}
.vault-content > * {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 8px 16px;
}

/* ########## Internal Grid Borders ########## */
/* prettier-ignore */
.vault-content { overflow: hidden; }
.vault-content > * {
  position: relative;
  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: var(--lb-border-color);
    z-index: 1;
  }
  &::before {
    inline-size: 100%;
    block-size: var(--lb-border-size);
    inset-block-start: calc(-1 * var(--lb-border-size));
    inset-inline-start: 0;
  }
  &::after {
    block-size: 100%;
    inline-size: var(--lb-border-size);
    inset-inline-start: calc(-1 * var(--lb-border-size));
    inset-block-start: 0;
  }
}

.content-header * {
  display: inline-block;
  margin: 0 !important;
}
.content-cover {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
}
.content-cover > div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 520px) {
  .vault-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'header   header'
      'tags     tags'
      'chapters links';
  }
  .vault-content.with-cover {
    grid-template-areas:
      'header  header'
      'cover   tags'
      'cover   chapters'
      'cover   links';
  }
  .content-cover > img {
    display: none;
  }
}

@media (min-width: 720px) {
  .vault-content {
    grid-template-columns: auto 2fr 2fr;
    grid-template-areas:
      'header   header header'
      'tags     tags   tags'
      'chapters links  links';
  }
  .vault-content.with-cover {
    grid-template-columns: min(40%, 200px) 3fr 5fr;
    grid-template-areas:
      'cover   header   header'
      'cover   tags     tags'
      'cover   chapters links';
  }
}
