*
!.gitignore
!community-plugins.json

# plugins suit
!plugins
!plugins/hot-reload-master
!plugins/obsidian-components/
!plugins/obsidian-components/.hotreload

# styles for examples
!snippets
!snippets/components.css
