temp/
.obsidian/

!.gitignore
!community-plugins.json

# files of templates
!snippets/components.css

# plugins suit
!plugins
!plugins/hot-reload-master
!plugins/obsidian-components/
!plugins/obsidian-components/.hotreload

# styles for examples
!snippets
!snippets/components.css
